#country-name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
}
#span{
    color:rgba(239, 57, 91, 0.839);
    display:inline-block;
    padding-inline-start:0.2rem;
    word-break:break-word;
}
.stack-elements::-webkit-scrollbar{
    display:none;
}
#btn{
   overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
